html {
  height: 100%;
  min-height: 100%;
}

.voltar {
  padding: 20px;
  background: aquamarine;
  border-radius: 7px;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  width: 50%;
  display: flex;
  flex-direction: column;
  background: aliceblue;
  margin-left: 20%;
  min-height: 100%;
}

.titulo {
  text-align: center;
}

.conteudo-login{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.imagem {
  background: bisque;
  padding: 10px;
  border-radius: 10px;
}

.login-body {
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  width: 44%;
  height: 196px;
  text-align: center;
  border-radius: 7px;
  padding-top: 37px;
  line-height: 40px;
}

label {
  display: block;
  font: 0.9rem "Fira Sans", sans-serif;
}

input {
  border: none;
  height: 24px;
  border-radius: 15px;
  text-align: center;
}

input[type="submit"] {
  margin-top: 1rem;
  width: 50%;
  margin-left: 79px;
  background: #68ccaa;
  border-radius: 20px;
  color: #FFFF;
  font-weight: bold;
}

.div-password {
  margin-top: 18px;
  margin-left: 1px;
}

footer {
  margin-top: auto;
  margin-left: 39%;
  font-family: monospace;
}
